.contact-bg {
    position: relative;
    height: 30vh; /* Set the height to 30% of the viewport height */
  }
  
  .contact-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .deatailsOnBackgound {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;  
    text-align: center;
    width: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
    
  .deatailsOnBackgound span:first-of-type {
    font-family: cursive;
    font-size: 1.5rem;
    color: orange;
  }
  
  .deatailsOnBackgound span:nth-of-type(2) {
    font-weight: bold;
    font-size: 3rem;
  }
  
  
  @media (max-width: 767px) {
    .contact-bg {
      height: 40vh;  
    }
  
    .deatailsOnBackgound {
      font-size: 14px;  
      padding: 8px; 
    }
  }
  

  /* contact form  */
  .contact-container{
    margin-top:5rem ;
  }