/* home.css */
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;600&display=swap');

.record-section{
  margin-top: -180px;
}

.home-adv{
background-image: url(../../../public/images/home/bg-home.jpg);
background-size: 100% 100%;
max-width: 100%;
height: 50%;
}
.Card-body{
  border-radius: 70px 50px 70px 20px !important;
  border: none !important;
  box-shadow: 0px 9px 13px #0000004d;
  margin-bottom: 20px;
  height: 308px !important;
  padding-left:20px ;
}
.farmVideo{
  border-bottom-right-radius: 70px !important;
  border-top-right-radius: 20px !important;
}
.image-container {
  position: relative;
  display: inline-block;
}
.subtitle{
  font-family: 'Courgette',sans-serif !important;
  font-size: 22px !important;
  color:#F8AB13 !important ;
}
.heading{
  color: #248eb7;
  font-size: 32px !important;
  font-family: 'Commissioner', sans-serif !important;
  font-weight: 700 !important ;
}

.know-btn{
text-decoration: none;
color:#248eb7;
font-size: 15px;
}
.content{
  color: #7A7A7A;
  font-size: 15px !important;
  font-weight: 200 !important ;
}
.card-overlay {
  position: absolute;
  top: 685px;
  width: 100%;
  margin: 0;
  padding: 10px;
  color: white;
  border-radius: 10px;
}
/* .footer-section{
  margin-top: 200px;
} */

.column-content {

  display: flex;
  flex-direction: row;
  padding-top: 10px;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
}
.achiv-icons{
font-size: 45px;
color: #F8AB13 ;
}
.record-card {
  border-radius: 30px !important;
  overflow: hidden;
  box-shadow: 0px 1px 10px #00000075;
  border: none !important;
}
.achiv-content{
margin: 10px;
}
.achive-body{
  padding: 10px;
  margin: 0px 40px;
}
.achiev-title{
  color: #248eb7;
}
.product-section {
  margin-top: 100px;
}
.product-heading{
text-align: center;
}
.product-heading{
  color: #248eb7;
  font-size: 45px !important;
  font-family: 'Commissioner', sans-serif !important;
  font-weight: 700 !important ;
  margin-bottom: 50px;
}

.product-subheading{
  font-family: 'Courgette',sans-serif !important;
  font-size: 22px !important;
  color:#F8AB13 ;
}
/* .product-img{
  max-width: 60%;
  max-height: 100%;
} */
.product-name{
  font-size: 30px !important;
  font-family: 'Commissioner', sans-serif !important;
  font-weight: 700 !important ;
}
.product-detail{
  font-size: 15px !important;
  font-family: 'Commissioner', sans-serif !important;
}
.product-img{
  padding: 30px;
}
.product-card{
padding: 20px;
border: none !important;
border-top-left-radius: 70px !important;
border-top-right-radius: 20px !important;
border-bottom-right-radius: 20px !important;
border-bottom-left-radius: 20px !important;
box-shadow: 0px 6px 17px #00000069;
}
.product-price{
  color:#F8AB13 ;
  font-size: 30px;
}
.price-div{
  display: flex;
  flex-direction: row;
}
.price-logo{
  font-size: 25px;
}
.position-absolute{
  padding: 40px;
  border: none !important;
  background-color: #F0FCFF !important;
  border-top-left-radius: 70px !important;
  border-bottom-right-radius: 70px !important;

}


.about-heading{
font-size: 30px;
color: #248eb7;
font-weight: 700;
}
.about-btn{
  border-radius: 0px 20px !important;
  padding: 10px !important;
}
.about-content{
font-size: 15px;
color: #7A7A7A ;
}
.about-section{
  margin-top: 100px;
}


.section-wrapper {
  padding: 50px 0;
  background-color: #f9f9f9;
}


.background-image {
  width: 100%;
  height: auto;
}

.content-box {
  margin-top: -200px; /* Adjust this to position the card properly */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-video-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-card {
  width: 500px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.subtitle {
  font-size: 18px;
  color: #555;
}



.description {
  font-size: 16px;
  color: #666;
}

.link-btn {
  display: inline-block;
  margin-top: 10px;
  color: #248eb7;
  text-decoration: none;
  font-weight: bold;
}

.media-video {
  width: 500px;
  height: auto;
  margin-top: 20px;
  border-radius: 10px;
}
@media only screen and (max-width: 575px) {
.card-overlay {
  position:relative !important;
  top: -70px !important;
  width: 100%;
  margin: 0;
  padding: 10px;
  color: white;
  border-radius: 10px;
}

.heading {
  color: #248eb7;
  font-size: 23px !important;
}
.Card-body {
  border-radius: 20px !important;
  border: none !important;
  box-shadow: 0px 9px 13px #0000004d;
  margin-bottom: 20px;
  height: 308px !important;
  padding-left: 0px !important;
}
.record-card {
  border-radius: 30px !important;
  overflow: hidden;
  box-shadow: 0px 1px 10px #00000075;
  border: none !important;
  margin-top: -80px !important;
}
.record-section{
  margin-top: 0px !important;
  }
.farmVideo {
  border-bottom-right-radius: 0px !important; 
   border-top-right-radius: 0px !important; 
   border-radius: 20px !important;
   margin-top: 45px !important;
}
.product-section {
  margin-top: 70px !important;
}

.footer-section {
    margin-top: 20px !important;

}


}
@media only screen and (min-width:920px) and (max-width:1024px) {
  .Card-body {
     border-radius: 70px 50px 70px 20px !important; 
    border: none !important;
    box-shadow: 0px 9px 13px #0000004d;
    margin-bottom: 20px;
    height: 258px !important;
    padding-left: 20px;
}
.heading {
  color: #248eb7;
  font-size: 34px !important;
  font-family: 'Commissioner', sans-serif !important;
  font-weight: 700 !important;
}
.card-overlay {
  position: absolute;
  top: 560px !important;
  width: 100%;
  margin: 0;
  padding: 10px;
  color: white;
  border-radius: 10px;
}
.gallery-section {
  display:block !important;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
}
.product-name {
  font-size: 24px !important;
  font-family: 'Commissioner', sans-serif !important;
  font-weight: 700 !important;
}
.product-card {
  padding: 18px !important;
}
.product-section {
  margin-top: 435px !important;
}
}


/* CowMilkSection.css */

.cow-section {
  max-width: 100%;
  padding-top: 50px;
  padding-bottom: 165px;
  background-color: #F0FCFF;
 margin-top: 200px;
 margin-bottom: 100px;

}

.cow-content {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-items: center;
 
}

.cow-image-box {
  position: relative;
  width: 45%;
  max-width: 500px;
}

.cow-image {
  max-width: 90%;
  border-radius: 10px;
}

.cow-overlay {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: navy;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 18px;
}

.cow-trusted-text {
  font-weight: bold;
}

.cow-clients-text {
  color: yellow;
  font-weight: bold;
}

.cow-text-box {
  width: 50%;
  max-width: 600px;
}

.cow-about-title {
  color: #F8AB13;
  font-family: 'Courgette',sans-serif !important;
  font-size: 22px;
}

.cow-heading {
  color:#248eb7;
  font-size: 45px;
  font-weight: bold;
  margin: 10px 0;
}

.cow-description {
  color: #555;
  font-size: 16px;
  line-height: 1.6;
}

.cow-vision-mission {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cow-vision,
.cow-mission {
  width: 48%;
}

.cow-subtitle {
  font-size: 18px;
  font-weight: bold;
  color:#248eb7;
}

.cow-list {
  list-style: none;
  padding: 0;
}

.cow-list li {
  font-size: 16px;
  margin-bottom: 5px;
  color: #7A7A7A;
}

.cow-btn {
  margin-top: 20px;
  background-color: #3C86CB;
  border-radius: 0px 20px !important;
  padding: 10px !important;
  color: white;
  padding: 12px 20px;
  border: none;
  /* border-radius: 5px; */
  cursor: pointer;
  font-size: 16px;
}


/* Responsive Styles */
@media (max-width: 1024px) {
  .cow-content {
    flex-direction: column;
    text-align: center;
  }

  .cow-image-box {
    width: 80%;
  }

  .cow-text-box {
    width: 100%;
    
    margin-top: 15px !important;
  }

  .cow-vision-mission {
    flex-direction: column;
  }

  .cow-vision,
  .cow-mission {
    width: 100%;
    margin-bottom: 15px;
  }
 
  .program-card {
    padding: 0px !important;
  }
}

@media screen and (min-width:1367px) and (max-width: 1441px) {
.Card-body {
  height: 358px !important;
}
}
@media (max-width: 600px) {
  .cow-image-box {
    width: 100%;
  }

  .cow-overlay {
    font-size: 14px;
    padding: 5px 10px;
  }

  .cow-heading {
    font-size: 24px;
  }

  .cow-btn {
    width: 100%;
  }
  .cow-section {
    max-width: 100%;
    padding-top: 50px;
    padding-bottom: 165px;
    background-color: #F0FCFF;
    margin-top: 100px !important;
    margin-bottom: 0px !important;
   
  }
}
.tick-color{
color: #F8AB13;
}

.farm-section {
  padding: 50px 0;
  margin-top: 100px;
}

.text-section {
  text-align: left;
  margin-bottom: 20px;
}

.sub-heading {
  color: #f8ab13;
  font-size: 22px;
  font-family: 'Courgette',sans-serif !important;
}


  .main-heading {
    font-weight: 700;
    color: #248eb7;
    font-size: 45px;
}


.description {
  color: #7A7A7A;
  margin-bottom: 20px;
}

.read-more-btn {
  background-color: #002366;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: bold;
}

.program-card {
  background: white;
  border-radius: 25px !important;
  padding: 20px;
  box-shadow: 0px 27px 20px rgb(0 0 0 / 10%);
  transition: transform 0.3s ease-in-out;
  border: none !important;
}

.program-card:hover {
  transform: translateY(-5px);
}

.icon {
max-width: 40%;
  margin: 15px auto;
}

.program-title{
color: #248eb7 !important;
font-family: 'Commissioner', sans-serif !important;
font-size: 20px !important;
font-weight: bold !important ;
}
.program-content{
  color: #7A7A7A !important;

}

